@media only screen and (max-width: 768px) {
  .cell {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .cell {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .cell {
    width: 33%;
  }
  .cell.larger {
    width: 34%;
  }
}
